* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
  "h h h"
  "n c d";
  grid-template-rows: 64px 1fr /*calc(100vh - 64px)*/;
  grid-template-columns: 0.5fr 10fr 4fr;
}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import '../components/Header/header';
@import '../components/Navbar/navbar';
@import '../components/TodolistTasks/todolistTasks';
@import '../components/CompletedTasks/completedTasks';
@import '../components/Task/task';
@import 'media';