@media (max-width: 1200px) {
  .App {
    grid-template-areas:
  "h h"
  "n c"
  "n d";
    grid-template-rows: 64px 1fr 1fr;
    grid-template-columns: 0.5fr 10fr;
  }
  .completedTasks {
    padding-left: 24px;
  }
  .completedTask {
    width: 64vw;
  }
}

@media (max-width: 576px) {
  .task, .completedTask {
    width: 87vw;
  }
  .todolist {
    &_input {
      width: 77vw;
    }
  }
}

@media (max-width: 480px) {
  .todolist {
    &_input {
      width: 68vw;
    }
  }
}
