.task, .completedTask {
  width: 64vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  margin-bottom: 16px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  &_currentTaskTitle {
    font-size: 14px;
    line-height: 19px;
    color: #373737;
  }
  &_input {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    margin-right: 8px;
  }
  &_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
  }
  &_completedTaskTitle {
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #A3A3A3;
  }
}

.completedTask {
  width: 26vw;
}