.navbar {
  grid-area: n;
  background: #550DC9;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  &_logoWrapper {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #440BA0;
  }
}