.addItemForm {
  margin-bottom: 8px;
  &_input {
    width: 60vw;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    padding: 12px 10px;
  }
  &_inputError {
    background: rosybrown;
    border: 1px solid red;
  }
  &_btn {
    width: 50px;
    height: 40px;
    margin-left: 8px;
    background: #550DC9;
    border-radius: 4px;
    border: 1px solid #550DC9;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
  }
}