.todolist {
  grid-area: c;
  padding-top: 24px;
  padding-left: 24px;
  &_totalTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 54px;
    height: 24px;
    background: #FEF6FF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #550DC9;
  }
  &_tasks {
    margin-top: 20px;
  }
  &_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #373737;
    margin-bottom: 8px;
  }
}