.todolist {
  grid-area: c;
  padding-top: 24px;
  padding-left: 24px;
  &_input {
    width: 60vw;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    padding: 12px 10px;
  }
  &_btn {
    width: 50px;
    height: 40px;
    margin-left: 8px;
    background: #550DC9;
    border-radius: 4px;
    border: 1px solid #550DC9;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
  }
  &_totalTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 54px;
    height: 24px;
    background: #FEF6FF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #550DC9;
  }
  &_tasks {
    margin-top: 20px;
  }
  &_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #373737;
    margin-bottom: 8px;
  }
}