.header {
  grid-area: h;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px lightgray;
  &_logoWrapper {
    display: flex;
    width: 105px;
    justify-content: space-between;
  }
  &_logo {
    display: flex;
    flex-direction: column;
  }
  &_logoTitle {
    font-weight: bold;
    font-size: 6px;
    line-height: 7px;
    color: black;
  }
  &_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
  }
  &_profileInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
  }
  &_profileName {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
  }
}

